In [1]:
import matplotlib
import seaborn
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import ttest_ind
import scipy.stats as ss
from matplotlib import style
matplotlib.style.use('ggplot')
%matplotlib inline
matplotlib.rcParams['figure.figsize'] = (15, 9)
import pandas as pd

from sklearn.decomposition import RandomizedPCA, PCA
from sklearn.linear_model import LogisticRegression
from sklearn.manifold import TSNE
from sklearn.preprocessing import StandardScaler
import seaborn

In [3]:
df_expr = pd.read_csv('/projects/trans_scratch/validations/workspace/szong/Cervical/immune_expression/expression_matrix.txt', sep='\t', index_col='genes')

In [4]:
df_expr.shape

(58450, 82)

In [6]:
df_expr = df_expr.drop_duplicates()

In [7]:
df_expr.shape

(45534, 82)

In [16]:
df_expr = df_expr.T

In [17]:
dup_gene_names = df_expr.columns.value_counts().to_frame(name='count').query('count > 1').index.values

In [18]:
dup_gene_names.shape

(183,)

In [19]:
df_expr.shape

(82, 45534)

In [20]:
df_expr.drop(dup_gene_names, axis=1, inplace=True)

In [21]:
df_expr.shape

(82, 42584)

In [22]:
df_expr.head(2)

genes,SCYL3,C1orf112,FGR,CFH,STPG1,NIPAL3,AK2,KDM1A,TTC22,ST7L,...,EIF4A1P2,MXRA5P1,CTBP2P1,ATP5JP1,PARP4P1,KALP,AC006157.2,RP11-886I11.1,RP11-886I11.3,RP11-886I11.2
A37700,3.6416,4.8082,0.7059,14.3879,1.6436,8.7098,29.0268,43.5168,18.7297,1.3490,...,0.0,0.0799,0.0369,0.0,0.0000,0.0,0.0,0.0,0.0,0.0
A37701,5.9656,3.9581,2.1283,22.7599,1.2715,6.1969,18.3112,21.3308,30.3388,1.8652,...,0.0,0.0000,0.0000,0.0,0.0081,0.0,0.0,0.0,0.0,0.0

In [25]:
df_expr = df_expr.reset_index().rename(columns={'index': 'lib'})

In [26]:
df_expr.head(2)

genes,lib,SCYL3,C1orf112,FGR,CFH,STPG1,NIPAL3,AK2,KDM1A,TTC22,...,EIF4A1P2,MXRA5P1,CTBP2P1,ATP5JP1,PARP4P1,KALP,AC006157.2,RP11-886I11.1,RP11-886I11.3,RP11-886I11.2
0,A37700,3.6416,4.8082,0.7059,14.3879,1.6436,8.7098,29.0268,43.5168,18.7297,...,0.0,0.0799,0.0369,0.0,0.0000,0.0,0.0,0.0,0.0,0.0
1,A37701,5.9656,3.9581,2.1283,22.7599,1.2715,6.1969,18.3112,21.3308,30.3388,...,0.0,0.0000,0.0000,0.0,0.0081,0.0,0.0,0.0,0.0,0.0

In [27]:
df_expr.to_csv('/projects/trans_scratch/validations/workspace/szong/Cervical/immune_expression/expression_matrix.dedup.txt', index=False)