In [73]:
import os
import re

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline
plt.rcParams['figure.figsize'] = (10.0, 8.0) # set default size of plots

# for auto-reloading external modules
# see http://stackoverflow.com/questions/1907993/autoreload-of-modules-in-ipython
%load_ext autoreload
%autoreload 2

ImportError: No module named backends

In [5]:
ls

aa.tmp
aa.tmp.sorted
analyze_bedcoverage_results.py
bamstats_summary.txt.sorted
combined_exon_coverage.txt.normalized
data/
get_coverage_from_bam.py
headers.py
headers.pyc
normalize_coverage.py
parse_bedcoverage_results.py
parse_bedcoverage_results_test.py.ipynb
scripts/
test.csv
vcf_bam_all_samples_new_20150924.csv
vcf_bam_all_samples_new_20150924.csv.test
venv/

In [6]:
! head data/TARGET-20-PATLZB-09A-01D.Primary.A41515.exon.coverage.txt

11	32408302	32458164	WT1	1	0
11	32408302	32458164	WT1	2	0
11	32408302	32458164	WT1	3	0
11	32408302	32458164	WT1	4	0
11	32408302	32458164	WT1	5	0
11	32408302	32458164	WT1	6	0
11	32408302	32458164	WT1	7	0
11	32408302	32458164	WT1	8	0
11	32408302	32458164	WT1	9	0
11	32408302	32458164	WT1	10	0

In [1]:
pd.read_csv?

Object `pd.read_csv` not found.

In [13]:
df = pd.read_csv('data/TARGET-20-PATLZB-09A-01D.Primary.A41515.exon.coverage.txt', sep='\t',
                 header=None, names=['chrom', 'start', 'end', 'gene', 'position', 'coverage'],
                 index_col=['chrom', 'start', 'end','position'])

In [14]:
df.head()

                                 gene  coverage
chrom start    end      position
11    32408302 32458164 1         WT1         0
                        2         WT1         0
                        3         WT1         0
                        4         WT1         0
                        5         WT1         0

In [9]:
df.chrom.value_counts()

11    49862
Name: chrom, dtype: int64

In [69]:
def library_list(infile):
    libraries = []
    with open(infile, 'r') as fh:
        for line in fh:
           libraries.append(line.strip()) 
    #print libraries
    return libraries
infile = '/home/szong/projects/development/coverage/library_list.txt'
libraries =  library_list(infile)
library_list(infile)[:10]

['TARGET-20-PABLDZ-04A-02D.Relapse.A42746',
 'TARGET-20-PABLDZ-09A-02D.Primary.A41853',
 'TARGET-20-PADYIR-04A-02D.Relapse.A42733',
 'TARGET-20-PADYIR-09A-01D.Primary.A41847',
 'TARGET-20-PADYIR-14A-01D.Remission.A42640',
 'TARGET-20-PADZCG-04A-02D.Relapse.A42732',
 'TARGET-20-PADZCG-14A-01D.Remission.A42641',
 'TARGET-20-PAEAKL-09A-02D.Primary.A41899',
 'TARGET-20-PAECCE-04A-02D.Relapse.A42731',
 'TARGET-20-PAECCE-09A-01D.Primary.A41849']

In [70]:
def library_to_path(library):
    return os.path.join('/home/szong/projects/development/coverage/', '{0}.exon.coverage.txt'.format(library))

In [71]:
def get_data(libraries):
    """Read bedcoverage data for each position from CSV files."""
    df = None
    for library in libraries:
        print library
        df = pd.read_csv(library_to_path(library), sep='\t',
                 header=None, names=['chrom', 'start', 'end', 'gene', 'position', 'coverage'],
                 index_col=['position'], usecols=['coverage'])
        #df_temp = df_temp.rename(columns={'coverage': library})
        # df_temp = df_temp.rename(columns={: library})
        #df = df.join(df)
        print df
    return df

In [49]:
!ls /home/szong/projects/development/coverage/TARGET-20-PADYIR-14A-01D.Remission.A42640.exon.coverage.txt

/home/szong/projects/development/coverage/TARGET-20-PADYIR-14A-01D.Remission.A42640.exon.coverage.txt

In [64]:
libraries[:3]

['TARGET-20-PABLDZ-04A-02D.Relapse.A42746',
 'TARGET-20-PABLDZ-09A-02D.Primary.A41853',
 'TARGET-20-PADYIR-04A-02D.Relapse.A42733']

In [72]:
df

                                 gene  coverage
chrom start    end      position
11    32408302 32458164 1         WT1         0
                        2         WT1         0
                        3         WT1         0
                        4         WT1         0
                        5         WT1         0
                        6         WT1         0
                        7         WT1         0
                        8         WT1         0
                        9         WT1         0
                        10        WT1         0
                        11        WT1         0
                        12        WT1         0
                        13        WT1         0
                        14        WT1         0
                        15        WT1         0
                        16        WT1         0
                        17        WT1         0
                        18        WT1         0
                        19        WT1         0
                        20        WT1         0
                        21        WT1         0
                        22        WT1         0
                        23        WT1         0
                        24        WT1         0
                        25        WT1         0
                        26        WT1         0
                        27        WT1         0
                        28        WT1         0
                        29        WT1         0
                        30        WT1         0
...                               ...       ...
                        49833     WT1         0
                        49834     WT1         0
                        49835     WT1         0
                        49836     WT1         0
                        49837     WT1         0
                        49838     WT1         0
                        49839     WT1         0
                        49840     WT1         0
                        49841     WT1         0
                        49842     WT1         0
                        49843     WT1         0
                        49844     WT1         0
                        49845     WT1         0
                        49846     WT1         0
                        49847     WT1         0
                        49848     WT1         0
                        49849     WT1         0
                        49850     WT1         0
                        49851     WT1         0
                        49852     WT1         0
                        49853     WT1         0
                        49854     WT1         0
                        49855     WT1         0
                        49856     WT1         0
                        49857     WT1         0
                        49858     WT1         0
                        49859     WT1         0
                        49860     WT1         0
                        49861     WT1         0
                        49862     WT1         0

[49862 rows x 2 columns]